.thongBao {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}

.upperCase {
  text-transform: uppercase;
}
.thongBao1 {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}
.thongBao2 {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}

.thongBao3 {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}
.thongBao4 {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}
